# Default owner
*                           @DhingraTushar

# Notebooks
notebooks/                  @DhingraTushar @ParasGore

# Source code
src/                        @DhingraTushar @ParasGore

# Price recommender
src/price_recommender.py    @ParasGore

# Reports
reports/                    @ParasGore

# Docs
docs/                       @DhingraTushar
